<div class="container">
    <h1 class="section-header section-header-{{elementId}}"><a href="{{pageUrlList}}">{{name}}</a></h1>
    <div class="row">
        <div class="col-md-12">
            <div class="carousel slide multi-item-carousel" id="{{elementId}}">
                <div class="carousel-inner"></div>
                <a class="left carousel-control"  data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
                <a class="right carousel-control"  data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
            </div>
        </div>
    </div>
</div>