<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <a href="#/details/{{id}}"><img src="{{img}}" alt="{{title}}"></a>
        <div class="caption">
            <h3>{{title}}</h3>
            <div class="description">{{description}}</div>
            <p>
            <a href="#" class="button btn btn-default btn-wish-list" data-toggle="button" data-product-id="{{id}}" role="button">
                <span class="glyphicon glyphicon-heart"  aria-hidden="true"></span>
                Add To Wish List
            </a>
            <a href="#/details/{{id}}" class="button btn btn-default btn-more" role="button">
                Read More
                <span class="glyphicon glyphicon-chevron-right"  aria-hidden="true"></span>
            </a>
            </p>
        </div>
    </div>
</div>