<div class="item-container col-sm-6 col-md-4">
    <div class="thumbnail">
        <a href="#/details/{{id}}"><img src="{{img}}" alt="{{title}}"></a>
        <div class="caption">
            <h3>{{title}}</h3>
            <div class="description">{{description}}</div>
            <div >
                <a href="#" class="button btn btn-default btn-animated btn-wish-list-remove" data-product-id="{{id}}" role="button">
                    <span class="glyphicon glyphicon-trash "  aria-hidden="true"></span>
                    <span class="caption-text">Remove</span>
                </a>
                <a href="#/details/{{id}}" class="button btn btn-animated btn-default btn-more" role="button">
                    <span class="caption-text">Read More</span>
                    <span class="glyphicon glyphicon-chevron-right"  aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>
</div>