<div class="item {{class}}" >
    <div class="col-xs-12 col-sm-4" data-toggle="tooltip" data-container="body" data-placement="bottom" title="{{description}}">
        <a href="#/details/{{id}}">
            <img src="{{img}}" class="img-responsive">
            <div class="title">{{title}}</div>
        </a>
    </div>
</div>
