<div class="row">
    <div class="thumbnail">
        <a class="col-sm-6 col-md-4" href="#"><img src="{{product.img}}" alt="{{product.title}}"></a>
        <div class="caption col-sm-6 col-md-4">
            <h3>{{product.title}}</h3>
            <div class="description">{{product.description}}</div>
            <p>
                <a href="#" class="button btn btn-default btn-wish-list" data-product-id="{{product.id}}" role="button">
                    <span class="glyphicon glyphicon-heart"  aria-hidden="true"></span>
                    Add To Wish List
                </a>
            </p>
        </div>
    </div>
</div>